/* src/style.css */

body {
  background-color: beige;
}

#content {
  background-color: white;
  max-width: 1000px;
  height: 150vh;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 2rem;
  height: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1.5rem;
  margin-right: 2rem;
}

li:hover {
  text-decoration: 3px underline #c1c495;
  text-underline-offset: .5rem;
  cursor: pointer;
}

.current {
  text-decoration: 3px underline #c1c495;
  text-underline-offset: .5rem;
}

img {
  width: 100vw;
  min-width: 350px;
  max-width: 900px;
  height: auto;
}

.about,
.hours {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 750px;
  margin: 1.5rem 1rem;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

button {
  margin-top: 5rem;
  border: none;
  outline: 1px solid white;
  outline-offset: -4px;
  padding: 1rem 2rem;
  background-color: #c1c495;
  font-size: 1.5rem;
  color: white;
}